.full-width-image{
	height: 300px;
	background: url("pic/header.jpg") center center no-repeat;
	background-size: cover;
}
.tagline{
	color: #fff;
	text-shadow: 10px 10px 10px #000;
	margin-top: 200px;
}
.section{
	padding-top: 75px;
	padding-bottom: 75px;
}
.section-heading{
	font-size: 4em;
	margin: 30px 0;
}
.section-lead{
	margin-top: 0px;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar-default{
color: #fff;
background-color: #39b3d7;
border-color: #269abc;
}
.navbar-default .navbar-nav > li > a{
	color:#fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
	border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.menu-large {
  position: static !important;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
  background: transparent;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
	
  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	color:#fff;
  }
}

.subform_anno label{
  font-size: 1em;
  font-weight: 500;
}

.gene_filter_multi label{
  margin-top: 18px;
}
.nav>li>a {
  padding-left: 30px;
  font-size: 13px;
}

.nav-tab>li.active>a{
  border: 3px solid #ddd;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  font-weight:bold;
}
.nav-tab>li.active>a:hover{
  color: #428bca;
  background-color: #fff;
  border-bottom-color: transparent;
  pointer-events: none;
  cursor: default;
}
.colorCyan { 
  /*inline is to make sure it is displayed not in seperated lines*/
  display: inline;
  color: #99ffff;
}
.colorOrange {
  /*inline is to make sure it is displayed not in seperated lines*/
  display: inline;
  color: #FF8040;
} 
  
.colorYellow { 
  /*inline is to make sure it is displayed not in seperated lines*/
  display: inline;
  color: #CCCC00;
} 

.colorGrey { 
  /*inline is to make sure it is displayed not in seperated lines*/
  display: inline;
  color: #736F6E;
} 