{include="head"}
{include="header"}
<div class="full-width-image">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline"><b>G-SESAME</b> <br> <span style="margin left: 50px;">Gene Semantic Similarity Analysis and Measurement Tools</span> </h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<hr>
	<div class="row">
		<div class="col-lg-8 col-sm-8">
			<h2><b> About us </b></h2>

		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-sm-8">
			<h3>The G-SESAME Development Team</h3>
			<table class="table" style="width: 80%;">
				<thead>
					<tr>
						<th>Name</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a href="http://www.cs.clemson.edu/~jzwang/">
								James Z. Wang
							</a>
						</td>
						<td> Principal Investigator</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.chenlab.clemson.edu/">Chin-Fu Chen</a>
						</td>
						<td>Co-Principal Investigator</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.research.ibm.com/people/p/psyu/">Philip S. Yu</a>
						</td>
						<td>External Collaborator</td>
					</tr>
					<tr>
						<td>
							Zhidian Du
						</td>
						<td>Graduate Student</td>
					</tr>
					<tr>
						<td>
							Rapeeporn Payattakool
						</td>
						<td>Graduate Student</td>
					</tr>
					<tr>
						<td>
							Lin Li
						</td>
						<td>Graduate Student</td>
					</tr>
					<tr>
						<td>
							Xuebo Song
						</td>
						<td>Graduate Student</td>
					</tr>
					<tr>
						<td>
							Mei Liang
						</td>
						<td>Undergraduate Student</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="col-lg-4 col-sm-4">
			<h3>Contact Us</h3>
			<address>
				<strong>James Z. Wang, Ph.D.</strong>
				<br>
				Associate Professor
				<br>
				Department of Computer Science
				<br>
				Clemson University, SC 29634, USA.
			</address>
			<address>
				<abbr title="Email">E:</abbr>
				<a href="mailto:<jzwang@clemson.edu">jzwang@clemson.edu</a>
			</address>
		</div>
	</div>
</div>
	
{include="footer"}