<option value="All" selected>All</option>
<option value="CGD">CGD</option>
<option value="DDB">dictyBase</option>          
<option value="FB">FlyBase</option>             
<option value="GeneDB_Lmajor">GeneDB_Lmajor</option>            
<option value="GeneDB_Pfalciparum">GeneDB_Pfalciparum</option>          
<option value="GeneDB_Spombe">GeneDB_Spombe</option>            
<option value="GeneDB_Tbrucei">GeneDB_Tbrucei</option>          
<option value="GR">Gramene</option>             
<option value="MGI">MGI</option>                
<option value="RGD">RGD</option>                
<option value="SGD">SGD</option>                
<option value="TAIR">TAIR</option>              
<option value="TIGR_CMR">TIGR_CMR</option>              
<option value="TIGR_Tba1">TIGR_Tba1</option>            
<option value="UniProt">UniProt</option>                
<option value="WB">Wormbase</option>            
<option value="ZFIN">ZFIN</option>