{include="head"}
{include="header"}
<div class="full-width-image">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline"><b>G-SESAME</b> <br> <span style="margin left: 50px;">Gene Semantic Similarity Analysis and Measurement Tools</span> </h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<hr>
	<div class="row">
		<div class="col-lg-12">
			<div class="q1" style="margin-bottom: 100px">
				<h2 class="section-lead">
					<b>Legal Notice and Disclaimer: </b>
				</h2>
		        <p>Technical  information contained herein is provided by Clemson University.  While the authors make every effort to present accurate and reliable  information on this Internet site, Clemson   University does not  certify such information, nor do they guarantee the accuracy, completeness,  efficacy, timeliness, or correct sequencing of such information. Use of such  information is voluntary, and reliance on it should only be undertaken after an  independent review of its accuracy, completeness, efficacy, and timeliness.  Clemson University assumes no responsibility for results from the use of the  information herein, or from use of the information obtained at linked Internet  addresses, or in any respect for the content of such information, including  (but not limited to) errors or omissions, the accuracy or reasonableness of  factual or scientific assumptions, studies or conclusions, ownership of  copyright or other intellectual property rights, and the violation of property,  privacy, or personal rights of others. Clemson University  is not responsible for, and expressly disclaims all liability arising out of  use, reference to, or reliance on such information.</p>

			</div>
		</div>
	</div>
</div>
{include="footer"}