<option value="All" selected>All Curator Approved</option>              
<option value="IGI">IGI</option>                
<option value="IEP">IEP</option>        
<option value="NAS">NAS</option>        
<option value="IPI">IPI</option>        
<option value="ND">ND</option>  
<option value="IC">IC</option>  
<option value="ISS">ISS</option>        
<option value="NR">NR</option>  
<option value="RCA">RCA</option>        
<option value="IDA">IDA</option>        
<option value="IMP">IMP</option>        
<option value="TAS">TAS</option>