

	<div class="container">
		<footer style="padding-bottom: 40px;">
			<hr>
			<div class="col-lg-12" style="text-align: center;">Copyright &#169; 2006-2014, G-SESAME Bioinformatics Group</div>
			<div id="footer" xmlns:dc="http://purl.org/dc/elements/1.1/">
		</footer>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	{noparse}<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>{/noparse}
	</body>
</html>