<!-- fullviewlogo -->
<div class="full-width-image">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline"><b>G-SESAME</b> <br> <span style="margin left: 50px;">Gene Semantic Similarity Analysis and Measurement Tools</span> </h1>
			</div>
		</div>
	</div>
</div>