<ul style="margin-top: 50px;">
	<li>Enter gene names, such as FAA1 and FAA2, in input fields.</li>
	<li>Assign semantic contribution factors (0.0 - 1.0) for "is_a" and "part_of" relationships respectively.</li>
	<li>Press "Submit" button and wait for the results.</li>
</ul>


<form class="form-horizontal" role="form" name="geneCompareTwo" method="post" action="Program/geneCompareTwo2.php">
    
	<div class="form-group">
		<label for="term1" class="col-sm-2 col-md-2 control-label">Gene 1: </label>
		<div class="col-sm-10 col-md-10">
			<input class="form-control" name="symbol1" type="text"></input>
		</div>
	</div>
	<div class="form-group">
		<label for="term1" class="col-sm-2 col-md-2 control-label">Gene 2: </label>
		<div class="col-sm-10 col-md-10">
			<input class="form-control" name="symbol2" type="text"></input>
		</div>
	</div>

{include="isAPartOf"}
{include="ontologies"}
<div class="form-group">
	<label for="empty" class="col-sm-2 col-md-2 control-label"></label>
	<div class="col-sm-10 col-md-10">
			
		<div class="row gene_filter_multi">
			<div class="col-sm-6 col-md-6">
				<h5 style="text-align: center; font-weight:700;"> Source Gene Filter </h5>
				<label for="species1">Species: </label>
				<select name="species1" size="6" multiple class="form-control">  
					<option value="All" selected>All</option>             
		     		{include="species"}
				</select>

				<label for="dataSources1[]">Data sources: </label>
				<select name="dataSources1[]" size="6" multiple class="form-control">            
		     		{include="dataSource"}
				</select>

				<label for="evidenceCodes1[]">Evidence codes: </label>
				<select name="evidenceCodes1[]" size="6" multiple class="form-control">               
		     		{include="evidenceCode"}
				</select>

			</div>
			<div class="col-sm-6 col-md-6">
				<h5 style="text-align: center; font-weight:700;"> Target Gene Filter </h5>
				<label for="species2">Species: </label>
				<select name="species2" size="6" multiple class="form-control">
					<option value="All" selected>All</option>                 
		     		{include="species"}
				</select>

				<label for="dataSources2[]">Data sources: </label>
				<select name="dataSources2[]" size="6" multiple class="form-control">               
		     		{include="dataSource"}
				</select>

				<label for="evidenceCodes2[]">Evidence codes: </label>
				<select name="evidenceCodes2[]" size="6" multiple class="form-control">               
		     		{include="evidenceCode"}
				</select>
			</div>
		</div>

	</div>
</div>

<hr>
		
 <input class="btn btn-default" name="submit" value="Submit" type="submit"> <input class="btn btn-default"name="reset" type="reset">  </p>
</form>