<ul style="margin-top: 50px;">
	<li>Upload a file containing gene names line by line. <b> Sample file: <a href = "example/gene.txt" target="_blank"> Click Here</a></b></li>
	<li>Set the similarity threshold decremental interval (< 0.5) for the hierarchical clustering.</li>
	<li>Select proper filters (ontologies, species, data sources, evidence codes).</li>
	<li>Press "Upload and Calculate" button and wait for the results.</li>
</ul>

<br>
<form class="form-horizontal" role="form"enctype="multipart/form-data"  name="geneCompareTwo" method="post" action="Program/geneClusterStatistics2.php">
    
	<div class="form-group">
		<label for="file" class="col-sm-2 col-md-2 control-label">File: </label>
		<div class="col-sm-10 col-md-10">
			<input name="uploadedFile" type="file" style="padding: 6px 12px;"></input>
		</div>
	</div>
<div>
<div class="form-group">
		<label for="method" class="col-sm-2 control-label">Statistics Method: </label>
		<div class="col-sm-10">
			<label class="checkbox-inline">
				<input type="radio" id="inlineCheckbox1" value="Resnik" checked> Resnik
			</label>
			<label class="checkbox-inline">
				<input type="radio" id="inlineCheckbox2" value="Lin"> Lin
			</label>
			<label class="checkbox-inline">
				<input type="radio" id="inlineCheckbox3" value="Jiang"> Jiang
			</label>
			<label class="checkbox-inline">
				<input type="radio" id="inlineCheckbox3" value="AIC"> AIC
			</label>
		</div>
		<br>
		<br>
<div class="form-group" >
	<label for="file" class="col-sm-5 col-md-5 control-label">Similarity threshold decremental interval (< 0.5) </label>
	<div class="col-sm-2 col-md-2">
		<input class="form-control" name="deltaDecreasement" type="text" value="0.1">
	</div>
</div>
</div>
{include="ontologies"}
<div class="form-group">
	<label for="empty" class="col-sm-2 col-md-1 control-label"></label>
	<div class="col-sm-10 col-md-10">
			
		<div class="row gene_filter_multi">
			<div class="col-sm-6 col-md-6">
				<label for="species">Species: </label>
				<select name="species" size="6" multiple class="form-control">  
					<option value="All" selected>All</option>             
		     		{include="species"}
				</select>

				<label for="dataSources[]">Data sources: </label>
				<select name="dataSources[]" size="6" multiple class="form-control">            
		     		{include="dataSource"}
				</select>

				<label for="evidenceCodes[]">Evidence codes: </label>
				<select name="evidenceCodes[]" size="6" multiple class="form-control">               
		     		{include="evidenceCode"}
				</select>

			</div>
		</div>

	</div>
</div>
<h4>Since measuring the semantic similarities of two sets of GO terms may take very long time, you may check the email option and fill in your email address. The results will be mailed to you when they are ready.</h4>

	<input name="email" type= "checkbox"> Email option<br />
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email: </label>
		<div class="col-sm-10">
			<input class="form-control" name="emailAddress" type="text"></input>
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name: </label>
		<div class="col-sm-10">
			<input class="form-control" name="description" type="text"></input> (Optional)
		</div>
	</div>

<hr>
		
 <input class="btn btn-default" name="submit" value="Upload and Calculate" type="submit"> <input class="btn btn-default"name="reset" type="reset">  </p>
</form>