<ul style="margin-top: 50px;">
	<li>Upload a file containing gene names line by line. <b> Sample file: <a href = "example/gene.txt" target="_blank"> Click Here</a></b></li>
	<li>Assign semantic contribution factors (0.0 - 1.0) for "is-a" and "part-of" relationships respectively.</li>
	<li>Set the similarity threshold decremental interval (< 0.5) for the hierarchical clustering.</li>
	<li>Select proper filters (ontologies, species, data sources, evidence codes).</li>
	<li>Press "Upload and Calculate" button and wait for the results.</li>
</ul>

<br>
<form class="form-horizontal" role="form"enctype="multipart/form-data"  name="geneCompareTwo" method="post" action="Program/geneCluster2.php">
    
	<div class="form-group">
		<label for="file" class="col-sm-2 col-md-2 control-label">File: </label>
		<div class="col-sm-10 col-md-10">
			<input name="uploadedFile" type="file" style="padding: 6px 12px;"></input>
		</div>
	</div>
<div>
{include="isAPartOf"}
{include="interval"}
</div>
{include="ontologies"}
<div class="form-group">
	<label for="empty" class="col-sm-2 col-md-1 control-label"></label>
	<div class="col-sm-10 col-md-10">
			
		<div class="row gene_filter_multi">
			<div class="col-sm-6 col-md-6">
				<label for="species">Species: </label>
				<select name="species" size="6" multiple class="form-control">  
					<option value="All" selected>All</option>             
		     		{include="species"}
				</select>

				<label for="dataSources[]">Data sources: </label>
				<select name="dataSources[]" size="6" multiple class="form-control">            
		     		{include="dataSource"}
				</select>

				<label for="evidenceCodes[]">Evidence codes: </label>
				<select name="evidenceCodes[]" size="6" multiple class="form-control">               
		     		{include="evidenceCode"}
				</select>

			</div>
		</div>

	</div>
</div>

<hr>
		
 <input class="btn btn-default" name="submit" value="Submit" type="submit"> <input class="btn btn-default"name="reset" type="reset">  </p>
</form>