<ul style="margin-top: 50px;">
	<li>Enter GO term assession numbers, such as 0005739 and 0005777, in input fields.</li>

	<li>Press "Submit" button and wait for the results.</li>
</ul>

<br>
<form class="form-horizontal" role="form" method="post" action="Program/GOCompareTwo2_AIC.php">
	<div class="form-group">
		<input type="text" class="hidden" name="tool_id" value="2">
		<label for="term1" class="col-sm-2 control-label">GO Term 1: </label>
		<div class="col-sm-10">
			<input class="form-control" name="GOTerm1" type="text"></input>
		</div>
	</div>
	<div class="form-group">
		<label for="term2" class="col-sm-2 control-label">GO Term 2: </label>
		<div class="col-sm-10">
			<input class="form-control" name="GOTerm2" type="text"></input>
		</div>
	</div>
	<div class="form-group">
		<label for="method" class="col-sm-2 control-label">Method: </label>
		<div class="col-sm-10">
			<label class="checkbox-inline">
				<input name="method" type="radio" id="inlineCheckbox1" value="Resnik" checked> Resnik
			</label>
			<label class="checkbox-inline">
				<input name="method"type="radio" id="inlineCheckbox2" value="Lin"> Lin
			</label>
			<label class="checkbox-inline">
				<input name="method"type="radio" id="inlineCheckbox3" value="Jiang"> Jiang
			</label>
			<label class="checkbox-inline">
				<input name="method"type="radio" id="inlineCheckbox3" value="AIC"> AIC
			</label>
		</div>
	</div>


<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input class="btn btn-default" name="submit" value="Submit" type="submit"> <input class="btn btn-default"name="reset" type="reset">  </p> 
</form>

