<ul style="margin-top: 50px;">
	<li>Select two files containing GO term accession numbers, such as <b>0005739</b>, for uploading (one accession number per line).<b> Sample file: <a href = "example/term.txt" target="_blank"> Click Here!</a></b></li>
	<li>Assign semantic contribution factors (0.0 - 1.0) for "is-a" and "part-of" relationships respectively.</li>
	<li>Press "Submit" button and wait for the results.</li>
</ul>

<br>
<form enctype="multipart/form-data" class="form-horizontal" role="form" method="post" action="Program/GOCompareMultiple2.php">
	<div class="form-group">
			<input type="text" class="hidden" name="tool_id" value="3">

		<label for="term1" class="col-sm-2 control-label">File 1: </label>
		<div class="col-sm-10">
			<input name="uploadedfile1" type="file" style="padding: 6px 12px;"></input>
		</div>
	</div>
	<div class="form-group">
		<label for="term2" class="col-sm-2 control-label">File 2: </label>
		<div class="col-sm-10">
			<input name="uploadedfile2" type="file" style="padding: 6px 12px;"></input>
		</div>
	</div>
	{include="isAPartOf"}

	<h4>Since measuring the semantic similarities of two sets of GO terms may take very long time, you may check the email option and fill in your email address. The results will be mailed to you when they are ready.</h4>

	<input name="email" type= "checkbox"> Email option<br />
	<div class="form-group">
		<label for="term1" class="col-sm-2 control-label">Email: </label>
		<div class="col-sm-10">
			<input class="form-control" name="GOTerm1" type="text"></input>
		</div>
	</div>
	<div class="form-group">
		<label for="term2" class="col-sm-2 control-label">Name: </label>
		<div class="col-sm-10">
			<input class="form-control" name="GOTerm2" type="text"></input>
		</div>
	</div>


<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input class="btn btn-default" name="submit" value="Submit" type="submit"> <input class="btn btn-default"name="reset" type="reset">  </p> 
</form>
