<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/G-SESAME/index.php">G-SESAME</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/G-SESAME/index.php">Home</a>
                </li>
                <li class="dropdown">
                	<a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
                	<ul class="dropdown-menu" role="menu" aria-labelledby="dLable">
	                	<li class="menu-item dropdown dropdown-submenu">
		                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Term Analysis <b class="right-caret"></b></a>
		                	<ul class="dropdown-menu">
		                		<li><a href="/G-SESAME/tools.php?id=1">Semantic Similarity of two GO terms</a></li>
					            <li><a href="/G-SESAME/tools.php?id=2">Semantic Similarity of two GO terms (statistical methods)</a></li>
					            <li><a href="/G-SESAME/tools.php?id=3">Semantic Similarity of two GO term sets</a></li>
					            <li><a href="/G-SESAME/tools.php?id=4">Semantic Similarity of two GO term sets (Statistical methods)</a></li>
		                	</ul>
		                </li>
		                <li class="dropdown-submenu">
		                	<a href="#" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">Gene Analysis <b class="right-caret"></b></a>
		                	<ul class="dropdown-menu">
		                		<li><a href="/G-SESAME/tools.php?id=5">Functional Similarity of two genes</a></li>
					            <li><a href="/G-SESAME/tools.php?id=6">Functional Similarity of two genes (Statistical methods)</a></li>
		                	</ul>
		                </li>
		                <li class="dropdown-submenu">
		                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Knowledge Discovery <b class="right-caret"></b></a>
		                	<ul class="dropdown-menu">
		                		<li><a href="/G-SESAME/tools.php?id=7">Gene Clustering Tool Based on G-SESAME Method</a></li>
					            <li><a href="/G-SESAME/tools.php?id=8">Gene Clustering Tool Based on Resnik, Jiang, and Lin's Method</a></li>
					            <li><a href="/G-SESAME/tools.php?id=9">Search Top N Similar Genes</a></li>
	                		</ul>
	                	</li>
                	</ul>
                </li>
                <li><a href="help.php">Help</a></li>
                <li><a href="aboutUS.php">About us</a></li>
                <li><a href="publication.php">Publications</a></li>
                <li><a href="disclaimer.php">Disclaimer</a></li>
		<li><a href="bbs">Forum</a></li>
            </ul>
        </div>
	</div>
</nav>
