{include="head"}
{include="header"}
<div class="full-width-image">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline"><b>G-SESAME</b> <br> <span style="margin left: 50px;">Gene Semantic Similarity Analysis and Measurement Tools</span> </h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<hr>
	<div class="row">
		<div class="col-lg-12">
			<h2><b> Help and Tool Descriptions</b></h2>
			<p>Since many biological data analysis methods require numeric representation of the functional similarity of genes, automatically discovering the descriptive  similarities of genes and converting them into measurable numeric values are  very important for such analyses; This  research project will solve this important problem by designing novel  algorithms to measure the semantic similarity of vocabularies used to annotate  genes and, in turn, devising effective algorithms to determine the functional  similarity of genes. </p>
        <p>Based on these algorithms, the following online tools are implemented with more tools still under development.</p>


<h3>Using tools in interactive mode</h3>
        <p>Based on our novel method to decode a GO term's semantics into a numeric value by aggregating the semantic contributions of their ancestor terms (including this specific term) in the GO hierarchy, we implemented the following tools to measure the semantic similarity of GO terms:</p>
        <ol>
            <li><a href="tools.php?id=1" target="_blank">Semantic similarity of two GO terms.</a></li>

            <emphasis1>Input:</emphasis1>
            <ol type="a">
                <li>Two GO terms1 and GO terms2, the format is only numbers without "GO:";</li>
                <li>"is-a" value (default value is 0.8, G-SESAME only);</li>
                <li>"part-of" value (default value is 0.6, G-SESAME only);</li>
            </ol>

            <emphasis1>Output:</emphasis1>
            <ol type="a">
                <li>Numerical similarity value of two GO terms;</li>
                <li>Accession IDs;</li>
                <li>Names;</li>
                <li>Definitions;</li>
                <li>Synonyms;</li>
                <li>Two GOs and their ancestors similarity DAGs;</li>
            </ol>

            <li><a href="tools.php?id=3" target="_blank">Semantic similarity of two GO term sets.</a></li>
            <emphasis1>Input:</emphasis1>
            <ol type="a">
                <li>Two files containing GO terms1 and GO terms2, the format is only numbers without "GO:";</li>
                <li>"is-a" value (default value is 0.8, G-SESAME only);</li>
                <li>"part-of" value (default value is 0.6, G-SESAME only);</li>
                <li>Email (Optional);</li>
                <li>Name of the result (Optional);</li>
            </ol>

            <emphasis1>Output:</emphasis1>
            <ol type="a">
                <li>The similarity table of these two sets of GO terms;</li>
            </ol>
        </ol>
	
        <p>Based on the semantic correlation of GO terms  used to annotate genes, we implemented the following tools to measure the functional similarity of genes:</p>
        <ol>
            <li><a href="tools.php?id=5" target="_blank">Functional similarity of two genes.</a></li>
            <emphasis1>Input:</emphasis1>
            <ol type="a">
                <li>Gene symbol1 and gene symbol2;</li>
                <li>"is-a" value (default value is 0.8, G-SESAME only);</li>
                <li>"part-of" value (default value is 0.6, G-SESAME only);</li>
                <li>Ontology;</li>
                <li>One source and one target species;</li>
                <li>Source and target data sources;</li>
                <li>Source and target evidence codes;</li>
            </ol>

            <emphasis1>Output:</emphasis1>
            <ol type="a">
                <li>Numerical similarity value of two genes;</li>
                <li>Accession IDs;</li>
                <li>Names;</li>
                <li>Definitions;</li>
                <li>Synonyms;</li>
                <li>Two genes annotation DAG;</li>
            </ol>
        </ol>


        <p>Based on the gene functional similarity  measurement, we implemented the following tools for gene functionality analyses: </p>
          <ol>
            <li><a href="tools.php?id=7" target="_blank">Cluster genes based on their functional similarities.</a></li>
            <emphasis1>Input:</emphasis1>
            <ol type="a">
                <li>Two files containing gene symbols, in which each gene symbol takes one line;</li>
                <li>"is-a" value (default value is 0.8, G-SESAME only);</li>
                <li>"part-of" value (default value is 0.6, G-SESAME only);</li>
                <li>Ontology;</li>
                <li>One species;</li>
                <li>Data sources;</li>
                <li>Evidence codes;</li>
                <li>Threshold step;</li>
                <li>Email (Optional);</li>
                <li>Name of the result (Optional);</li>
            </ol>

            <emphasis1>Output:</emphasis1>
            <ol type="a">
                <li>Gene similarity table;</li>
                <li>Gene clustering result;</li>
            </ol>


            <li><a href="tools.php?id=8" target="_blank">Cluster genes based on their functional similarities using Resnik, Jiang, or Lin's methods.</a></li>
            <emphasis1>Input:</emphasis1>
            <ol type="a">
                <li>Two files containing gene symbols, in which each gene symbol takes one line;</li>
                <li>One of Resnik, Jiang, or Lin's method;</li>
                <li>Ontology;</li>
                <li>One species;</li>
                <li>Data sources;</li>
                <li>Evidence codes;</li>
                <li>Threshold step;</li>
                <li>Email (Optional);</li>
                <li>Name of the result (Optional);</li>
            </ol>

            <emphasis1>Output:</emphasis1>
            <ol type="a">
                <li>Gene similarity table;</li>
                <li>Gene clustering result;</li>
          </ol>
      </ol>


<h3>Using tools in batch mode</h3>	


<p>We know the contents of the GO project can be roughly separated into two parts: GO terms and genes/gene products.  Our tools also reflect them.  Our tools are listed <a href="Program/" target="_blank">here</a>, whose names can also be partitioned into two parts.  Also, all the programs are named and numbered accordingly.</p>

<p>What you need to do is to write your own programs (in whatever languages you are comfortable with) to simulate http queries as what the programs of number 1 do, and then let your program calls the related the programs of number 2.</p>

<p>For example, check the source html code of geneCompareTwo1.php and fill what it does (needs) into your own local program and, after that, let your programs send a http query (as we click the mouse when we load the number 1 program, a form action) which can trigger geneCompareTwo2.php.  The results from geneCompareTwo2.php will be sent back to you via http.  Your local programs then need to accept and parse the results from the program number 2.  This is also the standard way of simulating http queries in batch mode.</P>

   
    <h3>The limitations of our multiple GO comparion and gene clustering programs</h3>
<p>Every program has limitations, and our programs are not exceptions.  We try to let our programs handle as many inputs as possible.  However, because of the extensive and intensive usage of our tools, we have to balance the maximum number of queries and the maxumum of GO terms or gene symbols for each query.</p>

<p>The maximum number of GO terms that multiple GO terms comparison tool is 4,000, and the maximum number of gene clustering tool is 5,000.</p>
    

   <h3>What do you need to do if you have huge amount of data which excede the limitations of our program?</h3>
<p>If you have many GO terms or gene sysbols to analyze, there are two options.  One, you write your own program and call our program in batch mode.  Please refer to last section for how to call our public APIs.  Two, you can run one of the multiple GO terms comparion or multiple gene clustering tools for multiple genes.  However, due to the limitations of our programs, if your data excede the limitations, you have to use divide and conquer method to solve it.<p> 

<p>For example, if you have 10,000 gene symbols while the limitation of our program is 5,000 a time, you can split your data, for example, 5,000 * 2.  You have to run the programs 2*2=4 times to obtain the complete combinations of your data. <p>


    <h3>Do you have the source program to download locally?</h3>
No.  Our paper has clearly presented the algorithm.  It is also not easily to set up the whole environment.  You can implement our algorithm in your own language.  We believe it's eariler to run our online tool interactively or in batch mode.

    <h3>How to query the species that are not listed on the web page?</h3>
The web page only contains limited number of ncbi_taxa_id while in data base there are tens of thousands species_id - ncbi_taxa_id.  It's impossible to list all of them.  We only use the same as what in gene ontology web page.  If you want to explore more, you need first check the species table and find the related id and ncbi_taxa_id and use them into your own program to make a query.


    <h3>More tools are under development.  We promise to bring them online as soon as possible.</h3>

</div>
		</div>
	</div>
</div>
	
{include="footer"}