<div class="form-group" >
	<label for="file" class="col-sm-7 col-md-7 control-label">Similarity threshold decremental interval (< 0.5) </label>
	<div class="col-sm-2 col-md-2">
		<input class="form-control" name="deltaDecreasement" type="text" value="0.1">
	</div>
</div>

