
<div class="form-group ">
	<label for="term1" class="col-sm-2 control-label"></label>
	<div class="col-sm-10 col-md-10 subform_anno">
		<h5 style="font-weight:700;">Semantic Contribution Factors (0.0-1.0):</h5>
		<div class="form-group">
			<label class="col-sm-4 control-label" style="text-decoration: none;">"is_a" relationship:</label>
			<div class="col-xs-2">
				<input name="isA" maxlength="5" type="text" value="0.8" class="form-control">
			</div>
			<p class="control-label" style="float: left;">(Recommending value 0.8)</p>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">"part_of" relationship:</label>
			<div class="col-xs-2">
				<input  name="partOf" type="text"  maxlength="5" value="0.6" class="form-control">
			</div>
			<p class="control-label" style="float: left;">(Recommending value 0.6)</p>
		</div>
	</div>
</div>

