
<div class="form-group">
		<label for="method" class="col-sm-2 control-label">Ontologies: </label>
		<div class="col-sm-10">
			<label class="checkbox-inline">
				<input type = "radio" name = "ontology" value = "molecular_function" checked> Molecular Function
			</label>
			<label class="checkbox-inline">
				<input type = "radio" name = "ontology" value = "biological_process"> Biological Process
			</label>
			<label class="checkbox-inline">
				<input type = "radio" name = "ontology" value = "biological_process"> Cellular Component
			</label>
		</div>
	</div>