{include="head"}
{include="header"}
<div class="full-width-image">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline"><b>G-SESAME</b> <br> <span style="margin left: 50px;">Gene Semantic Similarity Analysis and Measurement Tools</span> </h1>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<hr>
	<div class="row">
		<div class="col-lg-12">
			<div class="q1" style="margin-bottom: 100px">
				<h2 class="section-lead">
					<b>Publications:</b>
				</h2>
				 <p>James Z. Wang,  Rapeeporn Payattakool, Feng Luo, and Chin-Fu Chen, Web-based Tools for Gene  Comparison and Clustering, 2006 Computational Systems Bioinformatics Conference  (CSB2006) (poster), Stanford, CA, August 14-18, 2006</p>

          <p>James Z. Wang, Zhidian Du, Rapeeporn Payattakool, Philip S. Yu and Chin-Fu Chen, A New Method to Measure the Semantic Similarity of GO Terms, Bioinformatics, 2007, 23: 1274-1281; doi: 10.1093/bioinformatics/btm087 and the supplement information is located at <a href="Publication/Supplement/gsp.htm" target="_blank">here</a>.</p>

          <p>James Z. Wang, Zhidian Du, Philip S. Yu and Chin-Fu Chen, An Effient Online Tool to Search Top-N Genes with Similar Biological Functions in Gene Ontology Database, IEEE BIBM 2007</p>

          <p>Zhidian Du, Lin Li, Chin-Fu Chen, Philip S. Yu, and James Z. Wang. G-SESAME: web tools for go term based gene similarity analysis and knowledge discovery. Nucleic Acids Research, 37:W345-W349, 2009.</p>

			</div>
		</div>
	</div>
</div>
{include="footer"}