<p>
	<b> Semantic similarity of GO terms</b> <i>{$term1}</i> and <i>{$term2}</i> is <span style="color: red;"><b>{$similarity2}</b></span>
</p>

<h2 style="color: red;"><b> More Information </b></h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th>{$term1}</th>
			<th>{$term2}</th>
		</tr>	
	</thead>
	<tbody>
		<tr>
			<td><b>Accession ID</b></td>
			<td>{$term1} (id is {$id1})</td>
			<td>{$term2} (id is {$id2})</td>
		</tr>
		<tr>
			<td><b>Name</b></td>
			<td>{$termName1}</td>
			<td>{$termName2}</td>
		</tr>
		<tr>
			<td><b>Definition</b></td>
			<td>{$termDefinition1}</td>
			<td>{$termDefinition2}</td>
		</tr>
		<tr>
			<td><b>Synonyms</b></td>
			<td>{$termSynonym1}</td>
			<td>{$termSynonym2}</td>
		</tr>
		<tr>
			<td><b>DAG</b></td>
			<td colspan="2">
				<a href="{$imageFileName}" target="_blank">
					<img src="{$imageFileName}" height="100" width="100" alt="image">
				</a>
				<div class="emphasis1">Notes:</div>

<ul>
<li>Click the icon to display the full size graph.</li>
<li>
<div class="colorCyan"><b>The Cyan nodes</b></div>&nbsp is the GO term {$term1}; 
<div class="colorOrange"><b>The Orange nodes</b></div>&nbsp is the GO term {$term2}; 
</li>
<li>Solid arrows represent "is-a" relations and dashed arrows represent "part-of" relations.</li>
</ul>
			</td>
		</tr>
	</tbody>




</table>


