<p>
	<b> Semantic similarity of two GO term sets is: </b> 
		<span style="color: red;">
			<b>
				<?php echo  number_format($result,3) ?></b>
		</span>
</p>
<h2 style="color: red;"><b> Similarity Table </b></h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			{loop="GOTerms1"}
				<th> GO:{$value} </th>
			{/loop}
		</tr>
	</thead>
	<tbody>
	{loop="GOTerms2"}
	<tr>
		<th>GO: {$value}</th>
			<!-- {$row_counter = $counter} -->
			{loop="similarity_list"}
				{if="$row_counter*$size <= $counter"}
					{if="$counter < ($row_counter + 1) * $size"}
						<td>{$value}</td>
					{/if}
				{/if}
			{else}
			...
		{/loop}
	</tr>
	{/loop}
</tbody>

</table>