<div class="container" >
	<div class="row">
		<div class="col-sm-3 col-md-3 section">
			<h3> Tools </h3>
			<hr>
			<ul class=" list-unstyled">
				<li class="nav-header">
                	<a href="#" data-toggle="collapse" data-target="#tool1" style="font-size: 14px;">Term Analysis <b class="right-caret"></b></a>
                	<ul class='nav nav-tab list-unstyled collapse {if="$tool_id < 5"} in {/if}' id="tool1">
                		<li class='{if="$tool_id == 1"} active {/if}'><a href="/rain/tools.php?id=1">Semantic Similarity of two GO terms</a></li>
			            <li class='{if="$tool_id == 2"} active {/if}'><a href="/rain/tools.php?id=2">Semantic Similarity of two GO terms (statistical methods)</a></li>
			            <li class='{if="$tool_id == 3"} active {/if}'><a href="/rain/tools.php?id=3">Semantic Similarity of two GO term sets</a></li>
			            <li class='{if="$tool_id == 4"} active {/if}'><a href="/rain/tools.php?id=4">Semantic Similarity of two GO term sets (Statistical methods)</a></li>
                	</ul>
                </li>
                <li class="nav-header">
                	<a href="#" data-toggle="collapse" data-target="#tool2" style="font-size: 14px;">Gene Analysis <b class="right-caret"></b></a>
                	<ul class='nav nav-tab list-unstyled collapse {if="($tool_id > 4) && ($tool_id < 7)"} in {/if}' id="tool2">
                		<li class='{if="$tool_id == 5"} active {/if}'><a href="/rain/tools.php?id=5">Functional Similarity of two genes</a></li>
			            <li class='{if="$tool_id == 6"} active {/if}'><a href="/rain/tools.php?id=6">Functional Similarity of two genes (Statistical methods)</a></li>
                	</ul>
                </li>
                <li class="nav-header">
                	<a href="#" data-toggle="collapse" data-target="#tool3" style="font-size: 14px;">Knowledge Discovery <b class="right-caret"></b></a>
                	<ul class='nav nav-tab list-unstyled collapse {if="$tool_id > 6"} in {/if}' id="tool3">
                		<li class='{if="$tool_id == 7"} active {/if}'><a href="/rain/tools.php?id=7">Gene Clustering Tool Based on G-SESAME Method</a></li>
			            <li class='{if="$tool_id == 8"} active {/if}'><a href="/rain/tools.php?id=8">Gene Clustering Tool Based on Resnik, Jiang, and Lin's Method</a></li>
			            <li class='{if="$tool_id == 9"} active {/if}'><a href="/rain/tools.php?id=9">Search Top N Similar Genes</a></li>
            		</ul>
            	</li>
        	</ul>
		</div>