<option value="63363">A. aeolicus</option>
<option value="2234">A. fulgidus</option>
<option value="56636">A. pernix</option>
<option value="3702">A. thaliana</option>
<option value="176299">A. tumefaciens str. </option>
<option value="198094">B. anthracis str. Am</option>
<option value="118099">B. aphidicola (Acyrt</option>
<option value="139">B. burgdorferi</option>
<option value="86665">B. halodurans</option>
<option value="29459">B. melitensis</option>
<option value="7091">B. mori</option>
<option value="1423">B. subtilis</option>
<option value="9913">B. taurus</option>
<option value="1488">C. acetobutylicum</option>
<option value="227377">C. burnetii RSA 493</option>
<option value="6239">C. elegans</option>
<option value="9615">C. familiaris</option>
<option value="197">C. jejuni</option>
<option value="1502">C. perfringens</option>
<option value="83558">C. pneumoniae</option>
<option value="10141">C. porcellus</option>
<option value="155892">C. vibrioides</option>
<option value="7227">D. melanogaster</option>
<option value="1299">D. radiodurans</option>
<option value="7955">D. rerio</option>
<option value="7244">D. virilis</option>
<option value="5782">Dictyostelium</option>
<option value="9796">E. caballus</option>
<option value="562">E. coli</option>
<option value="83334">E. coli O157:H7</option>
<option value="217992">E. coli O6</option>
<option value="9031">G. gallus</option>
<option value="243231">G. sulfurreducens PC</option>
<option value="10298">H. herpesvirus 1</option>
<option value="11676">H. immunodeficiency </option>
<option value="11709">H. immunodeficiency </option>
<option value="727">H. influenzae</option>
<option value="210">H. pylori</option>
<option value="85963">H. pylori J99</option>
<option value="9606">H. sapiens</option>
<option value="64091">H. sp. NRC-1</option>
<option value="1642">L. innocua</option>
<option value="1360">L. lactis subsp. lac</option>
<option value="5664">L. major</option>
<option value="1639">L. monocytogenes</option>
<option value="1126">M. aeruginosa</option>
<option value="1765">M. bovis</option>
<option value="9541">M. fascicularis</option>
<option value="2097">M. genitalium</option>
<option value="2190">M. jannaschii</option>
<option value="1769">M. leprae</option>
<option value="381">M. loti</option>
<option value="10090">M. musculus</option>
<option value="2104">M. pneumoniae</option>
<option value="187420">M. thermautotrophicu</option>
<option value="1773">M. tuberculosis</option>
<option value="11161">M. virus</option>
<option value="65699">N. meningitidis sero</option>
<option value="491">N. meningitidis sero</option>
<option value="103690">N. sp. PCC 7120</option>
<option value="9940">O. aries</option>
<option value="9986">O. cuniculus</option>
<option value="4528">O. longistaminata</option>
<option value="4535">O. officinalis</option>
<option value="4529">O. rufipogon</option>
<option value="4530">O. sativa</option>
<option value="39946">O. sativa (indica cu</option>
<option value="39947">O. sativa (japonica </option>
<option value="29292">P. abyssi</option>
<option value="13773">P. aerophilum</option>
<option value="287">P. aeruginosa</option>
<option value="5833">P. falciparum</option>
<option value="53953">P. horikoshii</option>
<option value="747">P. multocida</option>
<option value="223283">P. syringae pv. toma</option>
<option value="9598">P. troglodytes</option>
<option value="781">R. conorii</option>
<option value="10116">R. norvegicus</option>
<option value="782">R. prowazekii</option>
<option value="305">R. solanacearum</option>
<option value="158878">S. aureus subsp. aur</option>
<option value="33903">S. avermitilis</option>
<option value="4932">S. cerevisiae</option>
<option value="1902">S. coelicolor</option>
<option value="11723">S. immunodeficiency </option>
<option value="382">S. meliloti</option>
<option value="211586">S. oneidensis MR-1</option>
<option value="1313">S. pneumoniae</option>
<option value="4896">S. pombe</option>
<option value="1314">S. pyogenes</option>
<option value="9823">S. scrofa</option>
<option value="2287">S. solfataricus</option>
<option value="1148">S. sp. PCC 6803</option>
<option value="111955">S. tokodaii</option>
<option value="601">S. typhi</option>
<option value="602">S. typhimurium</option>
<option value="2303">T. acidophilum</option>
<option value="5691">T. brucei</option>
<option value="185431">T. brucei TREU927</option>
<option value="2336">T. maritima</option>
<option value="50339">T. volcanium</option>
<option value="666">V. cholerae</option>
<option value="686">V. cholerae O1 biova</option>
<option value="2371">X. fastidiosa</option>
<option value="8355">X. laevis</option>
<option value="632">Y. pestis</option>